@CHARSET "UTF-8";
	
      .ol-popup {
        display: none;
        position: absolute;
        background-color:white;
        -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.5);
        -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.5));
        filter: drop-shadow(0 1px 4px rgba(0,0,0,0.5));
        padding: 15px;
        border-radius: 10px;
        border: 3px solid #4bb8e0;
        bottom: 12px;
        left: -50px;   
        height: 50px;
        width: 150px;
      }
      
      .ol-popup-closer {
        text-decoration: none;
        position: absolute;
        padding:1px 4px;
        border-radius:100px;
        top: 2px;
        right: 6px;
      }
      .ol-popup-closer:hover {
        color: #fff;
        text-decoration: none;
        background:red;
      }
      .popup-close {
      	text-decoration: none;
        position: absolute;
        top: 96px;
        right: 60px;
      }
      .ol-popup img {
      	text-align:center;
      	height: 200px;
        width: 240px;
      }
      
      .modal-body-popup{
          position:relative;
          max-height:400px;
          padding:10px;
          overflow-y:auto;
          background-color:#d5f8f9;
          border-top:1px solid #ddd;
      }
      .modal-footer-popup{
          padding:5px 5px 5px;
          margin-bottom:0;
          height:30px;
          text-align:right;
          background-color:#ebebeb;
          border-top:1px solid #ddd;
          -webkit-border-radius:0 0 10px 10px;
          -moz-border-radius:0 0 10px 10px;
          border-radius:0 0 10px 10px;
          
          -webkit-box-shadow:inset 0 1px 0 #d9d9d9;
          -moz-box-shadow:inset 0 1px 0 #d9d9d9;
          box-shadow:inset 0 1px 0 #d9d9d9;
      }
      
      
      
      